//Home
.gray-background-home {
  background-color: rgb(237, 237, 237);
  text-align: center;
  font-size: small;
  .hello {
    color: rgb(0, 0, 0);
    font-size: small;
  }
}
//Section 2
.section2 {
  padding-top: 15px;
  .text {
    text-align: center;
    color: #111;
    text-align: center;
    font-family: Arial;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; /* 107.143% */
    text-transform: uppercase;
  }
  .carousel .carousel-control-prev {
    margin-left: 0px;
    padding-right: 100px;
  }
  .carousel .carousel-control-next {
    margin-left: 0px;
    padding-left: 100px;
  }
}
.carousel .carousel-inner .carousel-item {
  height: 400px;
}
//Section 3
.section3 {
  padding-top: 15px;
  .text {
    text-align: center;
    color: #111;
    text-align: center;
    font-family: Arial;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; /* 107.143% */
    text-transform: uppercase;
  }
}

.running-text {
  overflow: hidden;
  white-space: nowrap;
}

.running-text span {
  display: inline-block;
  width: 50%;
  animation: moveRight 20s linear infinite;
}

@keyframes moveRight {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}

@keyframes rainbow {
  0%   { color: #ff0000 !important; } /* Red */
  16%  { color: #ff8000 !important; } /* Orange */
  33%  { color: #ffff00 !important; } /* Yellow */
  50%  { color: #00ff00 !important; } /* Green */
  66%  { color: #0000ff !important; } /* Blue */
  83%  { color: #8000ff !important; } /* Purple */
  100% { color: #ff00ff !important; } /* Pink */
}

.rainbow-text {
  display: inline-block;
  animation: rainbow 20s linear infinite; /* Thay đổi thời gian tại đây */
}


