.icon-hover-primary:hover {
    border-color: #3b71ca !important;
    background-color: white !important;
}

.icon-hover-primary:hover i {
    color: #3b71ca !important;
}

.icon-hover-danger:hover {
    border-color: #dc4c64 !important;
    background-color: white !important;
}

.icon-hover-danger:hover i {
    color: #dc4c64 !important;
}

.soluong-number-btn {
    padding-right: 15px;
}

#root {
    position: relative;
}

.container-buy-block {
    width: 1068px;
    position: fixed;
    z-index: 2;
    bottom: 0;
}
